@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.png");
  /* z-index: 10; */
  background-position: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
